@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Neuton", sans-serif;
  /* overflow: hidden; */
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER SECTION */

.restaurant {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  height: 150px;
  min-width: 600px;
  background-image: url(img/restaurant.jpg);
  background-size: cover;
  background-position: center;
}

.heading {
  font-weight: 500;
  font-size: 39px;
}

.description {
  font-weight: 300;
  font-size: 22px;
}

/* MENU SECTION */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.food-img {
  width: 70px;
  margin-right: 32px;
}

.food {
  display: flex;
  border-bottom: 1px solid lightgray;
  width: 85%;
  height: 150px;
}

.addBtn {
  border-radius: 50%;
  border: 1px solid lightgray;
  background-color: #fff;
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
}

.addBtn:hover,
.addBtn:active {
  transform: scale(0.95);
}

.food-title {
  font-size: 30px;
  font-weight: 500;
}

.food-ingredients {
  font-size: 16px;
}

.food-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

.btn {
  align-self: center;
}

/* ORDER SECTION */

.orderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.orderTitle {
  text-align: center;
  font-size: 28px;
  margin: 30px 0 10px 0;
  font-weight: 500;
}

.pricing {
  display: flex;
  align-items: center;
  padding: 0 0 20px 0;
  width: 85%;
}

.addPricing {
  font-size: 20px;
  margin-left: auto;
}

.totalContainer {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #333;
  padding: 15px 0 20px 0;
}

.fullTotal {
  font-size: 20px;
}

.addTitle {
  font-size: 25px;
}

.totalTitle {
  font-size: 25px;
}

.removeBtn {
  font-size: 14px;
  color: gray;
  font-weight: 300;
  cursor: pointer;
  margin-left: 10px;
}

.orderBtn {
  border: none;
  width: 85%;
  padding: 18px;
  background-color: rgb(100, 161, 100);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 3px;
  cursor: pointer;
}
